In [44]:
import pandas as pd
from datetime import *
from dateutil.relativedelta import relativedelta

df = pd.DataFrame({
    "Date": ["1992-05-06", "1997-05-05", "1999-05-08", "2000-05-07", "2022-05-06", "2023-05-05"],
    "Data": [5, 8, 6, 1, 50, 70],
})

In [45]:
df

         Date  Data
0  1992-05-06     5
1  1997-05-05     8
2  1999-05-08     6
3  2000-05-07     1
4  2022-05-06    50
5  2023-05-05    70

In [46]:

def age(row):
    naive_age_in_years_int = relativedelta(date.today(), parse_date(row["Date"])).years
    if naive_age_in_years_int > 0:
        return str(naive_age_in_years_int)
    else:
        return "NotBornYet"

def parse_date(date_str):
    return datetime.strptime(date_str, '%Y-%m-%d')

df["Age"] = df.apply(age, axis=1)

In [47]:
df

         Date  Data         Age
0  1992-05-06     5          30
1  1997-05-05     8          25
2  1999-05-08     6          23
3  2000-05-07     1          22
4  2022-05-06    50  NotBornYet
5  2023-05-05    70  NotBornYet